/*
 Theme Name:   Unite Child
 Theme URI:    http://madumlao.intelimina.com/unite-child/
 Description:  Unite Child Theme
 Author:       Mark David Dumlao
 Author URI:   http://madumlao.is-a-geek.org
 Template:     unite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: purple, light, white, gray, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, responsive-layout, translation-ready, custom-background, custom-colors, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments
 Text Domain:  unite-child
 */

.taxonomy,
.custom-field {
	padding-bottom: 0.25em;
}
.widget > .textwidget > ul > li {
        border-bottom: 1px solid #EEE;
        position: relative;
        display: block;
        padding: 10px 15px;
}
